@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/dist/styles/ag-theme-dark.css';

.order-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  flex: 1 1 50%;
}